.view-spot-details {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 45px;
}

.view-spot-details>h3 {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 15px;
}

.spot-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0px 10px;
}

.main-image {
    width: 100%;
    height: 390px;
    border-radius: 0;
    object-fit: cover;
}

.additional-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    object-fit: cover;
    grid-gap: 5px 10px;
}

.additional-images {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.host-description-reserve-container {
    border-bottom: 2px solid #CCCCCC;
    display: flex;
    gap: 20px;
}

.host-description {
    width: 67%;
    margin-left: 3px;
}

.host-description>h3 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 15px;
}

.reserve-container {
    margin-bottom: 25px;
    margin-top: 15px;
    padding: 5px 15px;
    border-radius: 10px;
    width: 33%;
    height: 50%;
    border: 1px solid gray;
}

.price-stars-reviews-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.price-night {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.price-night>h4 {
    font-size: 20px;
    font-weight: bold;
}

.fa-star {
    margin-right: 5px;
}

.reserve-button {
    display: flex;
    justify-content: center;
}

.reserve-button>button {
    cursor: pointer;
    background-color: #FF5A5F;
    color: white;
    border: 1px solid black;
    box-shadow: 2px 2px gray;
    margin-bottom: 15px;
    width: 95%;
    padding: 10px 15px;
}
