/* TODO Add site wide styles */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('https://cdn.discordapp.com/attachments/513986476783173643/1156568160913326131/background.png?ex=65157189&is=65142009&hm=494ab60a18b71faf03692fcaf98fb0019b72995c3619897397da090939d11852&');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
