/* TODO Add site wide styles */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-image: url('https://i.imgur.com/bVgwdaz.png'); */

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
